---
layout: home
---

<div class="home">
  <img class="avatar" src="{{ site.avatar }}" />
  <h1 class="title">{{ site.home_headline }}
  </h1>
  {% if site.description %}
  <p class="content-text home-desc">{{site.description}}</p>
  {% endif %}
  <div class="social">
    <div class="contacts">
      <a title="CV" href="http://bit.ly/jalal-mostafa-cv" class="rounded multi-color">
        <span class="resume">CV</span>
      </a>
      {% if site.fivepixel_username %}
      <a title="500px" href="https://500px.com/{{ site.fivepixel_username }}" class="rounded multi-color">
        <span  class="fa fa-500px"></span>
      </a>
      {% endif %}
      {% if site.twitter_username %}
      <a title="Twitter" href="https://twitter.com/{{ site.twitter_username }}" class="rounded multi-color">
        <span  class="fa fa-twitter"></span>
      </a>
      {% endif %}
      {% if site.github_username %}
      <a title="Github" href="https://github.com/{{ site.github_username }}" class="rounded multi-color">
        <span class="fa fa-github"></span>
      </a>
      {% endif %}
      {% if site.so_username %}
      <a title="Stack Overflow" href="https://stackoverflow.com/users/{{ site.so_username }}" class="rounded multi-color">
        <span class="fa fa-stack-overflow"></span>
      </a>
      {% endif %}
      <!-- <a title="RSS Feed" href="{{ "/feed.xml" | prepend: site.baseurl }}" class="rounded multi-color">
        <span class="fa fa-rss"></span>
      </a> -->
    </div>
  </div>
</div>
